<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Pratica 1 - Aplicação Bancos API.JS</title>
    <style>
      
      .body{
        background-color: rgb(245, 245, 220);
      }

      .site h1 {
        margin-left: 15px;
        display: flex;
        justify-content: center;
      }

      .campo {
        margin-left: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .quadrados {
        width: 38%;
        display: flex;
        margin: 15px 20px 20px;
        justify-content: space-around;
        flex-direction: row;
        background-color: #F3E5AB;
        border-radius: 5px;
      }

      .dados_quadrado {
        display: flex;
        justify-content: center;
      }

      .data {
        justify-content: center;
        font-size: 18px;
      }

    </style>
  </head>
  <body class="body">
    <div class="site">
      <h1>Bancos Brasileiros - API 1</h1>
      <hr/>
      <br/>
      <% if (banks.length > 0) { %>
      <div class="campo">
        <% for(var i = 0; i < banks.length; i++) {%>
        <div class="quadrados">
          <div class="dados_quadrados">
            <h4>Nome:</h4>
            <h4>COMPE:</h4>
            <h4>CNPJ: </h4>
            <h4>Tipo:</h4>
            <h4>Url:</h4>
          </div>
          <div class="data">
            <p><%=banks[i].ShortName%></p>
            <p><%=banks[i].COMPE%></p>
            <p><%=banks[i].Document%></p>
            <p><%=banks[i].Type%></p>
            <p><%=banks[i].Url%></p>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>